@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f97316; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; 
}